@import url("https://fonts.googleapis.com/css2?family=Bungee+Shade&family=Poppins&display=swap");
body {
  font-family: "Arial", sans-serif;
  background-color: #111;
  color: #fff;
  position:relative;
  height: 100vh;
  display:flex;
  flex-direction :column;
  justify-content :center;
  align-items :center;
}



h1 {
  font-size: 2em;
  margin-bottom: 20px;
  color: rgb(0, 255, 247);
  animation: bounce 2s infinite;
  text-shadow: 3px 3px 10px #fff;
  font-family: "Bungee Shade", sans-serif;
}

@keyframes bounce {
  0%,
  20%,
  50%,
  80%,
  100% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-30px);
  }
  60% {
    transform: translateY(-15px);
  }
}
#yearText {
  font-size: 3rem;
  font-family: "Bungee Shade", sans-serif;
  letter-spacing: 0.3em;
  font-weight: bolder;
  color: #ffff;
  line-height: 20px;
}

#countdown {
  font-size: 1.5em;
}
